.header {
    background-color: #1F2937; 
    display: flex;
    flex-wrap: wrap;  
}

.header-logo {
    color: white;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}